.container {
  max-width: 75rem;
  margin: 0 auto;
  padding: 1.5rem 1rem;
}

.active {
  background-color: var(--gray);
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
}

.navbar__btns {
  display: flex;
  gap: 0.5rem;
}

.unit-btn,
.volume-btn {
  font-size: var(--text-xl);
  font-weight: 700;
  border-radius: 0.5rem;
  padding: 0.3rem;
  /* border: none; */
  /* box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px; */
}

.search-form {
  display: grid;
  grid-template-areas:
    "searchbar ."
    "error ."
    "results .";
  position: relative;
  margin: 0 auto;
}

.search-results {
  grid-area: results;
  position: absolute;
  background-color: var(--black);
  min-width: 100%;
  z-index: 10;
}

.search-results>li {
  padding: 0.5rem;
}

.search-results>li:hover {
  background-color: black;
}

.search__input {
  grid-area: searchbar;
  min-width: 100%;
  background-color: transparent;
  color: var(--white);
  border-radius: 0.5rem;
  padding: 0.5rem;
  font-size: var(--text-base);
  border: 2px solid var(--white);
  text-indent: 1.5rem;
}

.invalid {
  border-color: red;
}

.search__input:focus {
  outline: none !important;
  color: var(--white);
}

.search__input::placeholder {
  color: var(--white);
}

.search__input:focus::placeholder {
  color: transparent;
}

.search-btn {
  grid-area: searchbar;
  border: none;
  justify-self: start;
  font-weight: 900;
}

.search-error {
  grid-area: error;
  font-size: var(--text-sm);
  padding: 0.1rem 0.5rem 0;
  color: red;
  position: absolute;
}

.hero {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

@media (min-width: 770px) {
  .hero {
    justify-content: space-between;
  }
}

.location__name {
  font-size: clamp(var(--text-3xl), 10vw, var(--text-4xl));
  font-weight: 900;
}

.location__state,
.location__country {
  font-size: clamp(var(--text-xl), 5vw, var(--text-2xl));
  font-weight: 700;
}

.weather {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.weather__date,
.weather__description,
.weather__low-high {
  font-size: var(--text-xl)
}

.weather__weekday {
  font-size: var(--text-2xl);
}

.weather__icon {
  font-size: var(--text-5xl);
}

.weather__current,
.weather__low-high,
.card__low-high {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.weather__temperature {
  font-size: clamp(var(--text-3xl), 10vw, var(--text-4xl));
  font-weight: 900;
}

.swiper-wrapper {
  padding: 1rem 0;
}

.forecast__btns {
  text-align: center;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 1rem;
}

.card__title {
  font-size: clamp(var(--text-base), 5vw, var(--text-xl));
  font-weight: 700;
}

.card__icon {
  font-size: 5em;
}

.card__description {
  text-align: center;
}

footer {
  font-size: var(--text-sm);
  padding: 0 0.5rem;
}